@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@200;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-text-color: #fff;
    --bg-color:#222327;
    --main-gray: #eee ;
    --main-color: #1ae222;
    --main-color1: #1ca820;
    --second-color: #4eb7ff;
    --text-color: #444; 
    --gradient: linear-gradient(160deg, #4eb7ff 0%, #1ae222 100%);
    /* product */
    --product-color1: #607d8b ;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
    width: 1170px;}}
/* Start scrollbar */

/* End scrollbar */
/* Start header */
section{
    padding: 50px 100px;
}
header{
    position: relative;
}
header .container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1000;
    left: 50%;
    background-color: #eeeff1;
    height: 74px;
    width: 86%;
    padding: 15px 100px;
    position: absolute;
    transform: translateX(-50%);
}
@media (max-width:767px){
    header .container{
        width: 130%;
        margin-left: auto ;
        margin-right: auto ;
    }
}
header img{
    width: 60px;
}
header .navbar{
    display: flex; 
    transition: 0.3s;
}
/* @media (max-width: 1091px) {
    header .navbar{
        position: absolute;
        top: calc(100%);
        right: -100%;
        width: 270px;
        height: fit-content;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
        padding: 0 0 10px;
    }
    header .navbar::before{
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 10px;
        background-color: inherit;
        z-index: -11;
    }
} */
@media (max-width:1090px){
    header .navbar {
        display: flex;
        transition: all 0.3s ease 0s;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        transform: translateX(-50%);
        background: currentColor;
        color: #fff;
        padding: 10px;
        left: 50%;
        top: 70px;
        height: 200px;
    }
    header .navbar a::after {
        content: '';
        height: 3px;
        width: 0;
        background: var(--gradient);
        position: absolute;
        top: 20px;
        left: 0;
        transition: 0.5s;
}
@media (max-width:1090px){
    header .navbar {
        display: none;
    }
}
}
header .navbar li{
    position: relative;
}
header .navbar a{
    font-size: 16px;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
header .navbar a::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--gradient);
    position: absolute;
    bottom: -28px;
    left: 0;
    transition: 0.5s;
}
header .navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: 
    none;
}
@media (max-width: 1091px) {
    #menu-icon{
        display: block;
    }
}
.header-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.header-btn a{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn .sign-in{
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    background: var(--gradient);
}
.header-btn .sign-in:hover{
    background: #2873a5;

}
/* End header */
/* Start landing */
.landing{
    padding-top: 100px ;
    padding-bottom: 100px ;
    position: relative;
    height: 100vb;
    background-color: #eeeff1;
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100vb;
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width:991px)  {
    .landing .container{
        flex-direction: column ;
    }
}
.landing .container .info-text{
    flex-basis: 40%;
}
@media (max-width:991px)  {
    .landing .container .info-text{
        flex-direction: column;
        position: relative;
        top: 104px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
}
@media (max-width:767px)  {
    .landing .container .info-text{
        top: 105px;
        left: 12px;
    }
    .landing .container .info-text h2{
        font-size: 40px;
        margin: 0 10px;
}
.landing .container .info-text p{
    margin: 0 20px;
    font-size: 14px;
}
}
.landing .container .info-text h2{
    font-size: 56px;
    line-height: 50px;
}
.landing .container .info-text h2 span{
    color: #2873a5;
    margin-right: 10px;
}
.landing .container .info-text p{
    max-width: 400px;
    color: #b5aeae;
    margin: 30px auto; 
    font-size: 17px;
}
.landing .container .landing-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
@media (max-width:991px){
    .landing .container .landing-btn{
        margin: 0 auto;
        position: relative;
    }
}
.landing .container .landing-btn a{
    padding: 12px 20px;
    border-radius: 100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 120px;
    font-weight: bold;
    transition: 0.3s;
}
.landing .container .landing-btn .landing-btn1{
    background-color: #000;
    color: white;
    border: #000 3px solid;
}
.landing .container .landing-btn .landing-btn2{
    border: #000 2.4px solid;
    background-color: #fff;
    color: #4d4d4d;
}
.landing .container .landing-btn .landing-btn1:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.landing .container .landing-btn .landing-btn2:hover{
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 20px 1px #000;
}
.landing .container .image{
    flex-basis: 50%;
    position: relative;
}
.landing .container .image::before{
    content: "";
    clip-path: circle(50% at 50% 50%);
    background: var(--gradient);
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.landing .container .image img{
    width: 100%;
}
/*  */
/*  */
/*  */
@media (max-width:991px)  {
    .landing .container .image img{
        display: none;
    }
    .landing .container .image::before{
        display: none;
    }
}
/*  */
/*  */
/*  */
.landing .form-continer{
    position: absolute;
    left: 0;
    bottom: 110px;
}
.landing .form-continer form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    flex-wrap: wrap;
}
@media (max-width:991px){
    .landing .form-continer form{
        width: 554px;
        position: relative;
        left: -250px;
        top: -45px;
    }
    .landing .form-continer form::before{
        content: "";
        clip-path: circle(50% at 50% 50%);
        background: var(--gradient);
        width: 470px;
        height: 470px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}
@media (max-width:767px){
    .landing .form-continer form{
        width: 349px;
        position: relative;
        left: 28px;
        top: -12px;
}
.landing .form-continer form::before{
    left:0px;
}
}
.landing .form-continer form p{
    margin: 0 10px;
    font-weight: 500;
    color: var(--main-color1);
}
.landing .form-continer form input{
    padding: 10px;
    background-color: #eeeff1;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.landing .form-continer form input:focus{
    outline: none;
}
.landing .form-continer form .submit{
    padding: 13px 20px;
    font-size: 18px;
    transition: 0.3s;
    background-color: var(--main-color1);
    color: #fff;
}

.landing .form-continer form .submit:hover{
    font-weight: 500;
    background-color: #2873a5;
    color: #fff;
}
/* End landing */
/* main-title */
.main-title{
padding: 10px;
margin: 50px auto ;
position: relative;
}
.main-title .container{
    flex-direction: column;
    width: 400px;
    text-align: center;

}
@media (max-width:991px){
    .main-title .container{
        width: 300px;
        text-align: center;
    }
}
.main-title p{
    color: var(--second-color);
}
.main-title h1{
    color: #009688;
}
/* main-title */
/* Start icon */
.icon{
}

.icon .container1{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin: 20px 0;
    gap: 30px;
    max-width: 1000px;
}
@media (max-width:900px){
    .icon .container1{
        max-width: 400px;
    }
}
.icon .container1 .box-icons{
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.icon .container1 .box-icons i{
    color: var(--second-color);
    background-color: var(--main-gray) ;
    padding: 5px;
    font-size: 35px;
    border-radius: 5px;
}
.icon .container1 .box-icons  h1{
    color: var(--main-color1);
    line-height: 1;
}
.icon .container1 .box-icons p{
    color: rgb(158, 158, 158);
}
/* End icon */
/* Start ride */
.ride{
    background-color: #eeeff1;
}
.ride .container{
    padding-top: 30px ;
    padding-bottom: 60px ;

}
.ride .container .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    transform: 0.3s;
    transition: 0.3s;
    justify-content: center;
}
.ride .container .cards .card{
    border-radius: 5px;
    background-color: #fff;
    margin: 5px auto;
    border-radius: 14.2px;
    overflow: hidden;
    width: 360px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)  ;
    transition: 0.3s;
    margin-bottom: 30px;
}
.ride .container .cards .card:hover{
    transform: translateY(-20px);
}
.ride .container .cards .image {
    width: 360px ;
    height: 300px;
    transition: 0.3s;
}
.ride .container .cards .image img{
    width: 100%;
    transition: 0.3s;
}
.ride .container .cards .card:hover .image img{
    transform: scale(1.1);
}
.ride .container .cards .card .title-card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    transition: 0.3s;
    margin-top: 75px;
}
.ride .container .cards .card:hover .title-card{
    margin-top: 95px;
}
.ride .container .cards .card .title-card p{
    background-color: var(--main-gray);
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
}
.ride .container .cards .title-card,
.ride .container .cards .min-card,
.ride .container .cards .footer-card
{
padding: 10px;
}
.ride .container .cards .min-card{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.ride .container .cards .min-card .h1{
    font-size: 28px;
    font-weight: bold;
}
.ride .container .cards .min-card .h3{
    font-size: 22px;
    font-weight: 600;
}
.ride .container .cards .min-card .h5{
    font-size: 14px;
    color: #6b6b6b;
    position: relative;
}
.ride .container .cards .min-card .h5::before{
    content: "";
    background-color: #6b6b6b;
    position: absolute;
    top: 12px;
    left: 0; 
    width: 54px;
    height: 1px;
}
.ride .container .cards .min-card .h5 span{
    font-size: 18px;
    background-color: #18941c;
    font-weight: 500;
    color: #fff;
    padding: 7px 10px;
    margin-left: 5px;
    border-radius: 10px;
}
.ride .container .cards .min-card .reviews{
    display: flex; 
    gap: 5px;
    margin: 15px 0 0;
}
.ride .container .cards .min-card .reviews i{
    color: gold;
    font-size: 25px;
}
.ride .container .cards .min-card .reviews p{
    font-weight: 500;
    margin-left: 15px;
}
.ride .container .cards .footer-card{
    display: flex;
    margin: 0 10px 22px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.ride .container .cards .footer-card .cart{
    flex-basis: 47%;
    background-color: #e91e63;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 15px 5px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.ride .container .cards .footer-card .cart:hover{
    background-color: #3f51b5;
}
.ride .container .cards .footer-card .icon{
    display: flex;
    flex-basis: 45%;
    gap: 15px;
}
.ride .container .cards .footer-card .icon i{
    border-radius: 10px;
    background-color: var(--main-gray);
    display: flex;
    color: #444;
    justify-content: center;
    align-items: center;
    height: 55px ;
    width: 55px ;
    font-size: 30px;
    cursor: pointer;
}

/* End ride */
/* Start videos */
.videos {
    padding-top: 90px;
    padding-bottom: 90px;
}
.videos .container {
    display: flex;
}
.videos .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    .videos .holder {
    flex-direction: column;
    }
}
.videos .holder .list {
    min-width: 300px;
    background-color: white;
}
.videos .holder .list .name {
    display: flex;
    padding: 20px;
    background-color: rgb(244, 244, 244);
    font-weight: bold;
    color: #e28600;
}
.videos .holder .list i {
    margin-left: 13px;
    font-size: 17px;
}
.videos .holder .list ul li {
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
}
.videos .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: rgb(43 43 43);
}
.videos .holder .preview {
    background-color: #e2e2e2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.videos .holder .preview video {
    max-width: 100%;
}
.videos .holder .preview  .volume{
    position: absolute;
    color: #fff;
    top: 10px;
    right: 10px;
    background-color: #22232773;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
  /* End videos */
  /* Start About-us */
.About-us{
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #eeeff1;
}
.About-us .container{
    gap: 40px;
    margin: 5px auto;
}
@media (max-width: 991px) {
    .About-us .container{
        flex-direction: column-reverse;
    }
}
.About-us .container .image{
    flex-basis: 42%;
}
@media (max-width: 991px) {
    .About-us .container .image{
        width: 400px;
    }
}
.About-us .container .image img{
    width: 100%;
}
.About-us .container .text-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 50%;
    justify-content: center;
}
@media (max-width: 991px) {
    .About-us .container .text-content{
        justify-content: center;
        align-items: center;
    }
}
.About-us .container .text-content h2{
    color: var(--main-color1);
}
.About-us .container .text-content p{
    color: rgb(158, 158, 158);
    font-size: 16px;
}
@media (max-width: 991px) {
    .About-us .container .text-content p{
        font-size: 13px;
        max-width: 400px;
        text-align: center;
    }
}
.About-us .container .text-content button{
    width: 110px;
    height: 45px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: darkturquoise;
    border-radius: 8px;
    transition: 0.3s;
}
.About-us .container .text-content button:hover{
    background-color: rgb(0, 137, 139);
}
  /* End About-us */
  /* Start REVIEWE */
.reviewe{
    padding-bottom: 80px;
}
.reviewe .container .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin: 20px 0;
    gap: 30px;
}
.reviewe .container .cards .card{
    padding: 30px 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.reviewe .container .cards .card .image{
    width: 80px;
    height: 80px;
}
.reviewe .container .cards .card img{
    width: 100%;
    border-radius: 50%;
}
.reviewe .container .cards .card h2{
    color: var(--main-color1);
    text-align: center;
}
.reviewe .container .cards .card .stars i{
    color: gold;
    font-size: 20px;
}
.reviewe .container .cards .card p{
    text-align: center;
    font-size: 14px;
    color: rgb(158, 158, 158);
}
  /* End REVIEWE */
  /* Start subscribe */
.subscribe{
    padding-top: 30px;
    padding-bottom: 80px;
    background-image: url(/img/sea.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.subscribe::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.subscribe .container form{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
}
.subscribe .container form i{
    padding: 20px;
    background-color: transparent;
    margin-left: -1px;
    color: #fff;
    font-size: 22px;
}
.subscribe .container form{
    border: 2px #fff solid;
}
.subscribe .container form input[type="email"]{
    padding: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
}
.subscribe .container form input[type="email"]:focus{
    outline: none;
}
.subscribe .container form input::placeholder{
    color: #fff;
    font-size: 16px;
    position: relative;
    left: -20px;
}
.subscribe .container form input[type="submit"]{
    margin-left: -1px;
    font-size: 18px;
    background-color: var(--main-color1);
    border: none;
    padding: 22px 7.5px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
}
    /* End subscribe  */
    /* Start product */
    .product{
        padding-top: 30px;
        padding-bottom: 90px;
    }
    .product .container{

    }
    .product .container .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        margin: 20px 0;
        gap: 30px;
    }
    .product .container .cards .card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: var(--product-color1);
        padding: 10px 20px;
        border-radius: 7px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: #fff;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: 0.3s;
    }
    .product .container .cards .card:hover{
        transform: translateY(-10px);
    }
    .product .container .cards .card .back-card img{
        width: 116%;
        position: absolute;
        z-index: -1;
        left: -15px;
        top: -10px;
        transform: rotate(180deg);
        opacity: 30%;
    }
    .product .container .cards .card .header-card{
        display: flex;
        justify-content: space-between;
    }
    .product .container .cards .card .header-card i{
        background-color: #fff;
        /*  */
        color: var(--product-color1);
        border-radius: 50%;
        font-size: 11px;
        padding: 2px;
}
    .product .container .cards .card .header-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product .container .cards .card .header-card .logo{
        font-size: 14px;
        position: relative;
    }
    .product .container .cards .card .header-card .logo::before{
        content: "";
        font-size: 14px;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        background-color: #fff;
        height: 10px;
        width: 10px;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    .product .container .cards .card .header-text{
    }
    .product .container .cards .card .header-text .h2{
        font-size: 28px;
        font-weight: 600;
    }
    .product .container .cards .card .header-text .p{
        font-size: 12px;
        font-weight: 400;
        margin-left: 10px;

    }
    .product .container .cards .card  .price{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .product .container .cards .card  .price .over{
        background-color: #fff;
        /*  */
        color: var(--product-color1);
        padding: 1px 5px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        gap: 4px;
        align-items: center;
        font-size: 16px ;
        font-weight: 600;
    }
    .product .container .cards .card .price .over span{
        padding: 0px 5px;
        /*  */
        color: var(--product-color1);
        color: #fff;
        border-radius: 100px;
        font-size: 13px;
        font-weight: 500;
    }
    .product .container .cards .card .price .usd{
        background-color: #fff;
        /*  */
        color: var(--product-color1);
        padding: 1px 7px;
        border-radius: 100px;
        font-size: 16px ;
        font-weight: 600;
    }
    .product .container .cards .card .image {
        margin: 10px;
        position: relative;
    }
    .product .container .cards .card .image2 {
        position: relative;
    }
    .product .container .cards .card .image2 .img2{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .product .container .cards .card .image2 .right{
        width: 13%;
        position: absolute;
        right: -12px;
        bottom: -54px;
        z-index: -1;
    }
    .product .container .cards .card .image2 .left{
        width: 20%;
        position: absolute;
        bottom: -5px;
        left: -16px;
        z-index: -1;
    }


    .product .container .cards .card .image img {
        width: 100%; 
    }
    .product .container .cards .card .footer-card{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0 0 20px;
    }
    .product .container .cards .card .footer-card .buy{
        background-color: #fff;
        /*  */
        color: var(--product-color1);
        font-weight: 600;
        padding: 2px 7px;
        font-size: 12px;
        border-radius: 100px;
    }
    /* End product */















            /* Start Footer */
            .footer1{
                background-color: var(--bg-color);
                width: 100%;
                text-align: center;
                padding: 50px 50px 60px 50px;
                color: var(--main-text-color);
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px 10px;
            }
            .footer1 .footer-left span{
                color: var(--main-color);
            }
            .footer1 .footer-left .footer-links{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .footer1 .footer-left .footer-links a{
                color: var(--main-text-color);
                transition: var(--main-transition);
            }
            .footer1 .footer-left .footer-links a:hover{
                color: var(--main-color);
            }
            
            .footer1 .footer-left .footer-name {
                margin-top: 20px;
                color: #777777;
            }
            .footer1 .footer-left .footer-name b{
                color: #92999f;
                
            }
            .footer1 .footer-center{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .footer1 .footer-center div{
                display: flex;
                gap: 20px;
            }
            .footer1 .footer-center div i{
            background-color: #33383b;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            color: #92999f;
            transition: var(--main-transition);
            }
            .footer1 .footer-center div:hover i{
                background-color: #92999f;
                color: #fff;
            }
            .footer1 .footer-center div p{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer1 .footer-center div a{
                color: var(--main-color);
                font-weight: bold;
            }
            
            .footer1 .footer-right{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                position: relative;
                top: 25px;
                max-width: 400px ;
            }
            .footer-icons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 10px;
            }
            .footer-icons a{
                background-color: #33383b;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                color: #92999f;
                transition: var(--main-transition);
            }
            .footer-icons .facebook:hover{
                background-color: #3b5998;
                color: #ffffff;
            }
            .footer-icons .instagram:hover{
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                color: #ffffff;
            }
            .footer-icons .linkedin:hover{
                background-color: #0e76a8;
                color: #ffffff;
            }
            .footer-icons .twitter:hover{
                background-color: #00acee;
                color: #ffffff;
            }
            .footer-icons .youtube:hover{
                background-color: #c4302b;
                color: #ffffff;
            }
            .footer-company {
                color: #bc1888;
            }
            .footer-right p{
                color: var(--main-color);
                font-size: 22px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .footer-right{
                color: #92999f;
                line-height: 17px;
            }
            /* up */
            .up{
                position: fixed;
                bottom: 10px;
                right: -100px;
                background-color: var(--bg-color);
                color: var(--main-color);
                font-weight: bold;
                font-size: 30px;
                padding: 5px;
                border-radius: 4px;
                cursor: pointer;
                transition: 0.2s;
                display: flex;
            }
            .up.show{
                right: 10px;
            }
            /* up */